:root {
  --text-color: white;
  --text-color-hover: rgb(247, 229, 93);

  --bg-mb-url: url(../img/Mobile/bg-dark-mobile.jpg);
  --bg-desktop-url: url(../img/Desktop/bg-dark.jpg);

  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --switch-bg-url: url(../icons/moon-stars.svg);
}

.light {
  --text-color: rgb(255, 255, 255);

  --bg-mb-url: url(../img/Mobile/bg-dark-light.jpg);
  --bg-desktop-url: url(../img/Desktop/bg-light.jpg);

  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --switch-bg-url: url(../icons/sun.svg);
}

body {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

.container {
  opacity: 0;
  width: 360px;
  margin: 56px auto;
  height: 685px;
  padding: 0 24px;
  border-radius: 10px;
  border: 1px solid var(--stroke-color);
  background: var(--surface-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: opacity 1.6s ease-in;
}

.displayOn {
  opacity: 1;
}

#profile {
  text-align: center;
  padding: 40px 24px 12px 24px;
}

#profile img {
  width: 112px;
  margin-bottom: 8px;
  border-radius: 100%;
  box-shadow: 0.1rem 0.1rem 1rem 0.1rem #41b9ff;
}

/*Switch*/
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: #fff var(--switch-bg-url) no-repeat center;
  border-radius: 50%;
  border: 0;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 999px;
}

/*Links*/

ul {
  padding: 24px 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li {
  text-align: center;
  margin-left: 10px;
  min-width: 230px;
}

ul li:hover {
  transform: scale(1.02);
  transition: transform 0.3s;
}

ul li a {
  display: flex;
  text-decoration: none;
  align-items: center;
  padding: 16px 24px;
  font-weight: 500;
  border-radius: 10px;
  position: relative;
  border: 1px solid var(--stroke-color);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  transition: background 0.3s;
}

ul li a:link {
  color: var(--text-color);
}

.text-color-hover:hover {
  background: linear-gradient(90deg, #136ffa, #00f5cc, #0dffba, #0bded3);
  border: #0dffba solid 1px;
  animation: animation 8s linear infinite;
  color: var(--text-color-hover);
  text-shadow: 2px 2px #6969698e;
}

ul li a:hover::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #136ffa, #00f5cc, #0dffba, #0bded3);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
  -webkit-filter: blur(20px);
  filter: blur(20px);
}

ul li a:visited {
  color: var(--text-color);
}

ul li a i {
  font-size: 24px;
  margin-right: 14px;
}

footer {
  padding: 32px 0;
  text-align: center;
  font-size: 13px;
}

footer a {
  color: var(--text-color);
}

footer a:visited {
  color: #fff;
}

/* Keyframes Animation */
@keyframes animation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

/* Video background */
#bg_video {
  position: fixed;
  top: 0;
  z-index: -100;
  background: url("../video/video-bg-dark.mp4") no-repeat;
  background-size: cover;
  overflow: hidden;
  transition: 1.6s;
}

.box-black {
  filter: brightness(0.7);
}

/* Responsiveness */
@media only screen and (max-width: 1680px) {
  #bg_video {
    left: -130px;
  }
}

@media only screen and (max-width: 1440px) {
  #bg_video {
    left: -230px;
  }
}

@media only screen and (max-width: 1200px) {
  #bg_video {
    left: -350px;
  }
}

@media only screen and (max-width: 1024px) {
  #bg_video {
    left: -420px;
  }
}

@media only screen and (max-width: 768px) {
  #bg_video {
    left: -600px;
  }
}

@media only screen and (max-width: 600px) {
  #bg_video {
    left: -680px;
  }
}

@media only screen and (max-width: 425px) {
  #bg_video {
    left: -750px;
  }
}
